<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%- assign meta_title = page.title | default: site.title %}
    {%- assign meta_description = page.description | default: site.description %}
    {%- assign meta_canonical_url = page.url | absolute_url %}
    {%- capture bones_css %}{% include bones.css %}{% endcapture %}

    <title>{{ meta_title }}</title>

    <meta name="description" content="{{ meta_description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">

    <style>
      {{ bones_css | normalize_whitespace }}
    </style>

    <link rel="canonical" href="{{ meta_canonical_url }}">

    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ meta_canonical_url }}">
    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:type" content="website">

    <meta name="twitter:site" content="{{ site.title }}">
    <meta name="twitter:url" content="{{ meta_canonical_url }}">
    <meta name="twitter:title" content="{{ meta_title }}">
    <meta name="twitter:description" content="{{ meta_description }}">
    <meta name="twitter:card" content="summary">
  </head>

  <body>
    <main>
      <article>
        {{ content }}
      </article>
    </main>

    <footer>
      Made with <span style="color: hsl(350, 80%, 50%);">♥</span> by <a href="https://adamhollett.com">Adam Hollett</a>.
    </footer>
  </body>
</html>
